<mat-accordion color="accent">
  <mat-card color="accent">
    <mat-expansion-panel [expanded]="!true" color="accent">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Moving Object Search
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-mos-form></app-mos-form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="!true" color="accent">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ZTF Found Object Search
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-ztffos-form></app-ztffos-form>
    </mat-expansion-panel>
  </mat-card>
</mat-accordion>
