<h1 class="long-title">
  COMET ASTEROID TERRESTRIAL CATALOG HARVESTER
</h1>

<h1 class="short-title">
  CATCH
</h1>

<!-- <h2 class="long-title">
  SOME BANNER SLOGAN
</h2>

<h2 class="short-title">
  COMET ASTEROID TERRESTRIAL CATALOG HARVESTER
</h2> -->

<h3>
  SEARCH
</h3>

<!-- <div>
  <h2>This is the home page!</h2>
  <p>
    home works!
  </p>
  <p>
    home works!
  </p>
  <p>
    home works!
  </p>
  <p>
    home works!
  </p>
  <p>
    home works!
  </p>
  <p>
    home works!
  </p>
</div> -->
