$app-primary: mat-palette($mat-blue, 700, 300, 900);
// $app-primary: mat-palette($mat-red, 700, 300, 900);
$app-accent: mat-palette($mat-blue-grey, 700, 300, 900);
// $app-accent: mat-palette($mat-red, 700, 300, 900);
$app-warn: mat-palette($mat-red, 500);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
